<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
</head>
<body class="container">

  <h3>Please Login</h3>

  <form class="" action="/login" method="post">
    <div>
      <label for="username">Username</label>
      <input id="username" type="text" name="username" value="">
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" name="password" value="">
    </div>
    <div>
      <input class="btn" type="submit" name="" value="Login">
    </div>
  </form>

</body>
</html>
